.App {
  max-width: 800px;
  margin: 0 auto;
}

.App footer {
  text-align: center;
}

.form-control {
  margin-left: 50px;
}

.btnSearch {
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cacaca;
  display: inline-block;
  margin-left: 60px;
}

.btnSearch {
  background-color: #9537fc;
  border: 1px solid #9537fc;
}

.btnSearch:hover {
  background-color: #ffffff;
  color: #9537fc;
  border: 1px solid #9537fc;
}

.visual {
  display: inline-block;
  margin-right: 10px;
  block-size: 200px;
}

h1 {
  margin: 30px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 10px;
}
h2 {
  margin: 15px;
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  margin-left: 350px;
}
li {
  list-style: none;
  margin: 20px;
  color: #000000;
  font-size: 20px;
  font-weight: 1px;
  display: block;
  margin-left: 60px;
}

h3 {
  text-transform: capitalize;
  color: #000000;
}

.description {
  margin-left: 15px;
  line-height: 20px;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.units {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0;
}
.temperature {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  font-size: 40px;
  color: #000000;
  font-weight: 400;
  line-height: 64px;
  top: -15px;
}
.actual-time {
  text-align: left;

  color: #006ba4;
  font-size: 20px;
  margin-left: 20px;
}

.col-6 {
  color: #006ba4;
  font-size: 20px;
}

.weather-forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
  color: #006ba4;
}
.weather-forecast-temperature-max {
  font-weight: 700;
}

.weather-forecast {
  text-align: center;
  margin: 40px 0;
  padding-bottom: 50px;
  color: #006ba4;
}

.sourceLine {
  color: #b8ff80;
  font-size: 12px;
}

.codeLink {
  color: #9537fc;
}

.codeLink:hover {
  color: #f8b62d;
}
.float-left {
  margin-top: 20px;
  margin-left: 20px;
}
