.App {
  max-width: 800px;
  margin: 0 auto;
}

.App footer {
  text-align: center;
}

.btnSearch,
.btnLocation {
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cacaca;
  display: inline-block;
}

.btnSearch {
  background-color: #9537fc;
  border: 1px solid #9537fc;
}

.btnSearch:hover {
  background-color: #ffffff;
  color: #9537fc;
  border: 1px solid #9537fc;
}

.btnLocation {
  background-color: #24acd6;
  border: 1px solid #24acd6;
}

.btnLocation:hover {
  background-color: #ffffff;
  color: #24acd6;
  border: 1px solid #24acd6;
}

.weather-app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #e0eafc;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #7868fc;
  border-radius: 20px;
}

.weather-wrapper {
  margin: 30px auto;
}

h1 {
  margin: 30px;
  color: #006ba4;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 10px;
}
h2 {
  margin: 30px;
}
li {
  list-style: none;
  margin: 10px;
  color: #006ba4;
  font-size: 20px;
  font-weight: 1px;
}

h3:first-letter {
  text-transform: capitalize;
  font-weight: 700;
}

#image {
  margin-bottom: 20px;
  width: 300px;
  display: block;
  margin-left: 80px;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.float-left strong {
  color: #006ba4;
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
}
#celsius-link {
  font-size: 20px;
  color: #006ba4;
  text-decoration: none;
}
#temperature {
  margin: 30px;
  position: relative;
  font-size: 50px;
  color: #006ba4;
}
.actual-time {
  text-align: left;
  margin: 0 auto;
  color: #006ba4;
  font-size: 20px;
}

#date {
  margin-left: 10px;
}
#description {
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.col-md-4 {
  color: #006ba4;
  font-size: 20px;
}

.weather-forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
  color: #006ba4;
}
.weather-forecast-temperature-max {
  font-weight: 700;
}

.weather-forecast {
  text-align: center;
  margin: 40px 0;
  padding-bottom: 50px;
  color: #006ba4;
}

.sourceLine {
  color: #b8ff80;
  font-size: 12px;
}

.codeLink {
  color: #9537fc;
}

.codeLink:hover {
  color: #f8b62d;
}
